
/.idea/
/.idea/*
/.idea/**
/assignment/
/assignment/*
/assignment/**
/db-local-aws-s3/
/db-local-postgres/
/back/dist/
/back/dist/*
/back/dist/**
/back/node_modules/
/back/node_modules/*
/back/node_modules/**
